In [1]:
import pandas as pd
import numpy as np
credit_data=pd.read_csv('credit card datas.txt')
credit_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
922,696,1.147380,-0.382257,1.135522,0.119209,-1.003615,0.026161,-0.711777,0.145659,0.999927,...,-0.075528,0.006935,0.071130,0.179123,0.053655,1.016155,-0.016534,0.016708,22.61,0
923,696,1.209033,0.008300,0.513062,0.854926,-0.608164,-0.718667,-0.038697,-0.111541,0.535798,...,-0.230502,-0.531201,0.008732,0.417510,0.433439,0.269108,-0.027734,0.013980,18.56,0
924,699,-1.478210,1.509004,0.144307,-0.045495,-0.326044,-0.948289,0.189616,0.786155,-0.984962,...,0.136137,0.265461,-0.073763,0.368259,-0.196450,0.260226,0.216157,0.087036,23.43,0
925,699,-0.312138,0.505151,1.142142,-1.044567,-0.614837,0.099766,-1.145453,-2.421417,-0.291527,...,-1.299302,0.116915,0.075856,0.228515,0.394114,0.798886,-0.026169,0.205294,15.38,0
926,701,-1.134786,0.212014,0.145122,-1.945923,1.340026,4.555722,-1.286571,-1.549856,0.335743,...,-1.497450,-0.312588,-0.311940,1.070196,-0.089753,0.775456,0.022207,0.003937,171.32,0

In [2]:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
credit_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
922,696,1.147380,-0.382257,1.135522,0.119209,-1.003615,0.026161,-0.711777,0.145659,0.999927,...,-0.075528,0.006935,0.071130,0.179123,0.053655,1.016155,-0.016534,0.016708,22.61,0
923,696,1.209033,0.008300,0.513062,0.854926,-0.608164,-0.718667,-0.038697,-0.111541,0.535798,...,-0.230502,-0.531201,0.008732,0.417510,0.433439,0.269108,-0.027734,0.013980,18.56,0
924,699,-1.478210,1.509004,0.144307,-0.045495,-0.326044,-0.948289,0.189616,0.786155,-0.984962,...,0.136137,0.265461,-0.073763,0.368259,-0.196450,0.260226,0.216157,0.087036,23.43,0
925,699,-0.312138,0.505151,1.142142,-1.044567,-0.614837,0.099766,-1.145453,-2.421417,-0.291527,...,-1.299302,0.116915,0.075856,0.228515,0.394114,0.798886,-0.026169,0.205294,15.38,0
926,701,-1.134786,0.212014,0.145122,-1.945923,1.340026,4.555722,-1.286571,-1.549856,0.335743,...,-1.497450,-0.312588,-0.311940,1.070196,-0.089753,0.775456,0.022207,0.003937,171.32,0

In [4]:
## credit card information
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 927 entries, 0 to 926
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    927 non-null    int64
 1   V1      927 non-null    float64
 2   V2      927 non-null    float64
 3   V3      927 non-null    float64
 4   V4      927 non-null    float64
 5   V5      927 non-null    float64
 6   V6      927 non-null    float64
 7   V7      927 non-null    float64
 8   V8      927 non-null    float64
 9   V9      927 non-null    float64
 10  V10     927 non-null    float64
 11  V11     927 non-null    float64
 12  V12     927 non-null    float64
 13  V13     927 non-null    float64
 14  V14     927 non-null    float64
 15  V15     927 non-null    float64
 16  V16     927 non-null    float64
 17  V17     927 non-null    float64
 18  V18     927 non-null    float64
 19  V19     927 non-null    float64
 20  V20     927 non-null    float64
 21  V21     927 non-null    float64
 22  V22     927 non-null    float64
 23  V23     927 non-null    float64
 24  V24     927 non-null    float64
 25  V25     927 non-null    float64
 26  V26     927 non-null    float64
 27  V27     927 non-null    float64
 28  V28     927 non-null    float64
 29  Amount  927 non-null    float64
 30  Class   927 non-null    int64
dtypes: float64(29), int64(2)
memory usage: 224.6 KB

In [6]:
### checking the no of missing values
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
### distribution of legit transcations & fraudulent transcation
credit_data['Class'].value_counts()

0    925
1      2
Name: Class, dtype: int64

In [ ]:
### This dataset is highly unbalanced
0----->Normal transcation
1------>Fradulent transcation

In [8]:
### separating the data for analysis
legit=credit_data[credit_data.Class==0]
fraud=credit_data[credit_data.Class==1]

In [9]:
print(legit.shape)
print(fraud.shape)

(925, 31)
(2, 31)

In [10]:
### statistical measures of the data 
legit.Amount.describe()

count     925.000000
mean       66.430411
std       190.703062
min         0.000000
25%         5.950000
50%        17.240000
75%        55.610000
max      3828.040000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [12]:
### compare the values for both transcation
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,343.117838,-0.177464,0.229275,0.865774,0.247433,-0.034907,0.148916,0.102434,-0.057435,-0.007681,...,0.055750,0.002675,-0.115450,-0.037089,-0.003688,0.112291,0.029799,0.012320,-0.018069,66.430411
1,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

In [13]:
### build a sample dataset constaining similar distribution of normal transcation and fradulent transcation
legit_sample=legit.sample(n=2)

In [14]:
## concatenating two dataframes
new_dataset=pd.concat([legit_sample,fraud],axis=0)
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
792,604,-0.931572,0.614814,1.874487,0.536465,0.832748,0.411702,0.718650,0.043473,-0.362946,...,-0.056881,0.047153,-0.370432,-0.309263,0.545067,-0.314430,-0.242901,-0.134454,10.80,0
504,370,1.354445,-0.815297,0.836498,-0.617140,-1.304124,-0.025274,-1.147177,0.162996,-0.258341,...,0.292038,0.941357,-0.192851,0.049422,0.597416,0.002149,0.035182,0.003682,4.79,0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1

In [15]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
792,604,-0.931572,0.614814,1.874487,0.536465,0.832748,0.411702,0.718650,0.043473,-0.362946,...,-0.056881,0.047153,-0.370432,-0.309263,0.545067,-0.314430,-0.242901,-0.134454,10.80,0
504,370,1.354445,-0.815297,0.836498,-0.617140,-1.304124,-0.025274,-1.147177,0.162996,-0.258341,...,0.292038,0.941357,-0.192851,0.049422,0.597416,0.002149,0.035182,0.003682,4.79,0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1

In [16]:
new_dataset['Class'].value_counts()

0    2
1    2
Name: Class, dtype: int64

In [17]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,487.0,0.211437,-0.100241,1.355493,-0.040338,-0.235688,0.193214,-0.214264,0.103234,-0.310644,...,0.003146,0.117578,0.494255,-0.281642,-0.129921,0.571242,-0.156141,-0.103860,-0.065386,7.795
1,439.0,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500

In [19]:
###splitting the data into features&targets
x=new_dataset.drop(columns='Class',axis=1)
print(x)

     Time        V1        V2        V3        V4        V5        V6  \
792   604 -0.931572  0.614814  1.874487  0.536465  0.832748  0.411702
504   370  1.354445 -0.815297  0.836498 -0.617140 -1.304124 -0.025274
541   406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623   472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

           V7        V8        V9  ...       V20       V21       V22  \
792  0.718650  0.043473 -0.362946  ... -0.034088 -0.056881  0.047153
504 -1.147177  0.162996 -0.258341  ...  0.040379  0.292038  0.941357
541 -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623  0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

          V23       V24       V25       V26       V27       V28  Amount
792 -0.370432 -0.309263  0.545067 -0.314430 -0.242901 -0.134454   10.80
504 -0.192851  0.049422  0.597416  0.002149  0.035182  0.003682    4.79
541 -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623  1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[4 rows x 30 columns]

In [20]:
y=new_dataset['Class']
print(y)

792    0
504    0
541    1
623    1
Name: Class, dtype: int64

In [27]:
### train & test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [30]:
print(x_train.shape,x_test.shape)

(3, 30) (1, 30)

In [31]:
print(y_train.shape,y_test.shape)

(3,) (1,)

In [32]:
### model_traing
from sklearn.linear_model import LogisticRegression
obj=LogisticRegression()
obj.fit(x_train,y_train)

LogisticRegression()

In [33]:
### accuracy
from sklearn.metrics import accuracy_score
x_train_prediction=obj.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [34]:
print(training_data_accuracy)

1.0

In [36]:
### accuracy on testing data
x_test_prediction=obj.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [37]:
print(test_data_accuracy)

0.0